@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .font-roboto {
    font-family: var(--font-roboto);
  }

  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}

@theme {
  --color-primary: #1c398e;
  --color-secondary: #8bc5db;
  --color-ternary: #182c38;
  --color-quaternary: #e88935;
}
